# Data Cleaning

In [1]:
import pandas as pd

In [2]:
#Read Dataset File 1
df=pd.read_excel(r"C:\Users\user\Downloads\MKR\HIV_1.xlsx")
df.head(10)

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019        690 000 [500 000–970 000]
1     Global  2018      730 000 [530 000–1 000 000]
2     Global  2017      760 000 [550 000–1 100 000]
3     Global  2016      800 000 [580 000–1 100 000]
4     Global  2015      830 000 [610 000–1 200 000]
5     Global  2014      870 000 [640 000–1 200 000]
6     Global  2013      930 000 [680 000–1 300 000]
7     Global  2012    1 000 000 [730 000–1 400 000]
8     Global  2011    1 100 000 [780 000–1 500 000]
9     Global  2010    1 100 000 [830 000–1 600 000]

In [3]:
df.shape

(210, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   WHO region                        210 non-null    object
 1   Year                              210 non-null    int64
 2   Number of deaths due to HIV/AIDS  210 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [5]:
df.isnull().sum()     #Data doesn't contain any Null values

WHO region                          0
Year                                0
Number of deaths due to HIV/AIDS    0
dtype: int64

### Target Column is "Number_of_deaths_due_to_HIV_or_AIDS"

In [6]:
df["Number of deaths due to HIV/AIDS"]=df["Number of deaths due to HIV/AIDS"].str.replace(r'\[.*\]',"")

In [7]:
df.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019                         690 000
1     Global  2018                         730 000
2     Global  2017                         760 000
3     Global  2016                         800 000
4     Global  2015                         830 000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   WHO region                        210 non-null    object
 1   Year                              210 non-null    int64
 2   Number of deaths due to HIV/AIDS  210 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [9]:
#Remove Whitespaces from target columns and then Dtype conversion.
df["Number of deaths due to HIV/AIDS"]=df["Number of deaths due to HIV/AIDS"].str.replace(" ","")
df["Number of deaths due to HIV/AIDS"] = pd.to_numeric(df["Number of deaths due to HIV/AIDS"], downcast="float")

In [10]:
df.head()

  WHO region  Year  Number of deaths due to HIV/AIDS
0     Global  2019                          690000.0
1     Global  2018                          730000.0
2     Global  2017                          760000.0
3     Global  2016                          800000.0
4     Global  2015                          830000.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   WHO region                        210 non-null    object
 1   Year                              210 non-null    int64
 2   Number of deaths due to HIV/AIDS  210 non-null    float32
dtypes: float32(1), int64(1), object(1)
memory usage: 4.2+ KB

In [12]:
df.to_excel(r"C:\Users\user\Downloads\HIV_Cleaned_1.xlsx")     #Download cleaned Dataframe

### 2nd Dataset

In [13]:
#Read Dataset File 2
df1=pd.read_excel(r"C:\Users\user\Downloads\MKR\HIV_2.xlsx")
df1.head()

,WHO region,Year,Number of new HIV infections,New HIV infections per1000 uninfected (Both Sexes),New HIV infections per 1000 uninfected (Male),New HIV infections per 1000 uninfected (Female)
0,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
1,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
2,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
3,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]
4,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35]

In [14]:
df1.shape

(210, 6)

In [15]:
df1.isnull().sum()     #Data doesn't contain any Null values

WHO region                                            0
Year                                                  0
Number of new HIV infections                          0
New HIV infections per1000 uninfected (Both Sexes)    0
New HIV infections per 1000 uninfected (Male)         0
New HIV infections per 1000 uninfected (Female)       0
dtype: int64

In [16]:
df1.info()     #Data doesn't contain any Null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 6 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   WHO region                                          210 non-null    object
 1   Year                                                210 non-null    int64
 2   Number of new HIV infections                        210 non-null    object
 3   New HIV infections per1000 uninfected (Both Sexes)  210 non-null    object
 4   New HIV infections per 1000 uninfected (Male)       210 non-null    object
 5   New HIV infections per 1000 uninfected (Female)     210 non-null    object
dtypes: int64(1), object(5)
memory usage: 10.0+ KB

### Target columns : All 'object' Dtype except 'WHO region'

In [17]:
tar_cols=df1.select_dtypes(include="object")           
tar_cols.drop('WHO region',axis=1,inplace=True)        #Seperate target columns
for col in tar_cols:
    df1[col]=df1[col].str.replace(r'\[.*\]',"")          #Replace Special Characters

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [19]:
for col in tar_cols:
    df1[col]=df1[col].str.replace(" ","")                         #Remove Whitespaces from target columns.
    df1[col] = pd.to_numeric(df1[col], downcast="float")          #Dtype conversion.
df1.head()

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 6 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   WHO region                                          210 non-null    object
 1   Year                                                210 non-null    int64
 2   Number of new HIV infections                        210 non-null    float32
 3   New HIV infections per1000 uninfected (Both Sexes)  210 non-null    float32
 4   New HIV infections per 1000 uninfected (Male)       210 non-null    float32
 5   New HIV infections per 1000 uninfected (Female)     210 non-null    float32
dtypes: float32(4), int64(1), object(1)
memory usage: 6.7+ KB

In [21]:
df1.to_excel(r"C:\Users\user\Downloads\HIV_Cleaned_2.xlsx")     #Download cleaned Dataframe

### 3rd Dataset

In [22]:
#Read Dataset File 3.
df2=pd.read_excel(r"C:\Users\user\Downloads\MKR\HIV_3.xlsx")
df2.head()

  WHO Region  Year Total number of people having HIV
0     Global  2019                       38 000 000
1     Global  2018                        37 300 000
2     Global  2017                        36 500 000
3     Global  2016                        35 700 000
4     Global  2015                       34 900 000

In [ ]:
df2.info()

### Target column is "Total number of people having HIV"

In [ ]:
#Remove Whitespaces from target columns and then Dtype conversion.
df2["Total number of people having HIV"]=df2["Total number of people having HIV"].str.replace(" ","")
df2["Total number of people having HIV"] = pd.to_numeric(df2["Total number of people having HIV"], downcast="float")
df2.head()

In [ ]:
df2.info()

In [24]:
df2.to_excel(r"C:\Users\user\Downloads\MKR\HIV_Cleaned_3.xlsx")     #Download cleaned Dataframe